/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Raleway:wght@400;700&display=swap');

/* main */

* {
   box-sizing: border-box;
}

body {
   align-items: center;
   background-color: #387373;
   display: flex;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
   margin: 0;
   overflow: hidden;
}

canvas {
   background-color: #ffffff;
   border: 2px solid #2D3E40;
}

.toolbox {
   background-color: #2D3E40;
   /* border: 1px solid #2D3E40; */
   /* color: #ffffff; */
   display: flex;
   margin-top: 3px;
   padding: 1rem;
   width: 604px;
}

.toolbox>* {
   align-items: center;
   background-color: #ffffff;
   border: none;
   cursor: pointer;
   display: inline-flex;
   font-size: 2rem;
   height: 50px;
   justify-content: center;
   margin: .25rem;
   padding: 0.25rem;
   width: 50px;
}

.toolbox>*:last-child {
   margin-left: auto;
}